# Python
backend/.venv/
__pycache__/
*.pyc

# Node
frontend/node_modules/
frontend/dist/
backend/outputs/
outputs/

# reference data
PIC-skeleton-codes/
introPlasma.pdf
Langmuir.pdf

# OS generated
.DS_Store
Thumbs.db
